<script>
	$(function() {
    $('.tasks').sortable({
    	update: function(event, ui) {
    		$.ajax({
    			type: 'PUT',
    			url: ui.item.data('update-url'),
    			dataType: 'json',
    			data: { item: { row_order_position: ui.item.index() } }
    		});
    	}
    });
  });
</script>
<br />
<div class="text-center listing col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
	<h1><%= current_list.title %></h1>
	<ul class="tasks">
		<% current_list.items.rank(:row_order).each do |item| %>
				<li data-update-url="<%= item_path(item) %>">
					<%= link_to item_path(item), :method => :delete, class: "btn btn-default" do %>
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= item.task %>
					<% end %>
				</li>
		<% end %>
	</ul>
	<br />
	<div class="pull-right">
		<%= link_to 'add a new task', new_list_item_path(current_list), :class => 'btn btn-primary' %>
	</div>
</div>